name: Java CI

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    uses: Deepgit12/cirepo/.github/workflows/maven-template.yml@1.0
    with:
      java_version: "21"
      maven_goals: "clean verify"
      pom_file: "pom.xml"
