name: Java CI -new

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/maven-template.yml
    with:
      java_version: "21"
      maven_goals: "clean verify"
      pom_file: "pom.xml"
